{
  "extends": ["@telus/eslint-config", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "no-param-reassign": 0,
    "import/no-unresolved": 0,
    "no-prototype-builtins": 0,
    "react/jsx-key": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-lonely-if": 0,
    "no-console": 0,
    "react/destructuring-assignment": 0,
    "import/prefer-default-export": 0,
    "no-unused-vars": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-multi-comp": 0,
    "react/no-array-index-key": 0,
    "no-use-before-define": 0,
    "no-nested-ternary": 0,
    "prefer-const": 0,
    "react/jsx-curly-brace-presence": 0,
    "prefer-destructuring": 0,
    "array-callback-return": 0,
    "no-else-return": 0,
    "no-useless-computed-key": 0,
    "no-return-await": 0,
    "react/jsx-wrap-multilines": 0,
    "no-unused-expressions": 0,
    "no-throw-literal": 0,
    "no-case-declarations": 0,
    "no-plusplus": 0
  }
}
